* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  margin: 15px 30px 20px 30px;

}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: outfit;
  line-height: 1.5;
  background-color: #E9F7FD;
  color: #333;
}


.logowhatsapp {
height: 36px;
weidth: auto;
box-shadow: none;
}


a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #7498AD;
  color: white;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: contain;
}


.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-overlay {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 79%;
  color: #0A3955;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  position: relative;
}

 .inicioelementos.svg {
  margin: 10px 0 0 0;
 position: relative;
}

.btn {
  background-color: #2F6382;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  position: absolute;
 
}

.telefoneinicio {
color: #0A3955;
OPACITY: 80%;
height: 100%;
width: auto;
margin: 2rem 2rem 0 2rem;
text-align: center;
}

.promessas {

background-color:  #2F6382;
background-size: cover;
word-break: break-word;
color: WHITE;
border-radius: 0 40px 0 40px;
margin: 0 2rem 1rem 2rem;
text-align: center;
height: auto;
bottom: 1rem;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
padding: 1rem;
}

.portfolio {
  color: #7498AD;
  padding: 2rem 1rem;
  text-align: center;
  margin: 10px;
  text-align: center;
}

.textoservicos {
font-family: outfit;
heigth: 90px;
width: 100%;
text-align: center;
}

.cards-section {
  background-image: url("fundoofertas.jpg");

  background-size: cover;
  color: white;
  padding: 3rem 1rem 1rem 1rem;
  margin: 4rem 0 4rem 0;
  text-align: center;
}

.card {
  background-color: white;
  padding: 3px;
  margin: 3rem 0 3rem 0;
  text-align: center;
  border-radius: 2%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
  text-align: center;
  margin: 3px 3px 3px 0px;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.exemplocomputador {
 height: auto; 
 align-self: center;
 align-elements: center;
}

.etapas {
  background-image: url("fundoofertas.jpg");
  background-size: cover;
  color: white;
  padding: 3rem 2rem 2rem 2rem;
  text-align: center;
 }

.etapas .step {
 border: 2rem 2rem;
 padding: 2rem 2rem;
 margin: 1rem;
 background-color: #7498AD;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}


.etapas .step span {
  background: #4b688a;
  color: white;
  padding: 1rem 1.2rem;
  border-radius: 100px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}



.footer {
  color: #7498AD;
  text-align: center;
  background: #dce7ef;
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
}

.socials a {
  font-size: 1.4rem;
  margin: 0 0.5rem;
}

.info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.info ul {
  list-style: none;
  padding: 0;
}

 .btn portifolio {
  padding: 0.4rem 1rem;
  align-items: center;
  display: block;
}

.btncta {
  background-color: #2F6382;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  font-size: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  position: center;

}

.ctafinal{
  opacity: 90%;
  color: #2F6382; 
  height: 300px;
  width: auto;
  background-image: url("fotocta.png");
  text-align: center; 

}


.copyright{
background-color: #7498AD;
 }
/* Responsividade */



@media (min-width: 768px) {
  .container {
    padding: 1rem 3rem;
  }



  .cards-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    width: 30%;
  }

  .etapas {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }

  .etapas .step {
    max-width: 300px;
  }

  .footer .info {
    justify-content: space-around;
    color: #0E4362;
  }
}


